/**
 * woocommerce-smallscreen.scss
 * Optimises the default WooCommerce frontend layout when viewed on smaller screens.
 */

/**
 * Style begins
 */
@media screen and (max-width: $lg) {

    .woocommerce {

        table.shop_table_responsive {
            thead {
                @apply hidden;
            }

            tbody {
                tr:first-child {
                    td:first-child {
                        @apply border-t-0;
                    }
                }

                th {
                    @apply hidden;
                }
            }

            tr {

                td {
                    padding-left: 6px;
                    padding-right: 6px;
                    &.order-actions {
                        text-align: left !important;
                    }

                    &::before {
                        @apply font-medium float-left;
                    }

                    &.product-remove,
                    &.actions {
                        &::before {
                            @apply hidden;
                        }
                    }

                    &.product-remove{
                        min-width: initial;
                        .remove{
                            @apply mr-1;
                        }
                    }
                }
            }
        }

        .cart_totals{
            tr{
                td{
                    @apply block;
                    padding: 12px !important;
                    &::before {
                        content: attr(data-title) ': ';
                    }
                }
            }
        }

        table.my_account_orders {
            tr {
                td {
                    &.order-actions {
                        @apply text-left;

                        &::before {
                            @apply hidden;
                        }

                        .button {
                            @apply float-none;
                            margin: 0.125em 0.25em 0.125em 0;
                        }
                    }
                }
            }
        }

        /**
         * General layout
         */
        .col2-set {
            .col-1,
            .col-2 {
                @apply w-full float-none;
            }
        }

        /**
         * Products
         */
        ul.products[class*='columns-'] {
            li.product {
                @apply float-left clear-both;
                width: 48%;
                margin: 0 0 2.992em;

                &:nth-child( 2n ) {
                    @apply float-right;
                    clear: none !important; // This should never clear.
                }
            }
        }

        /**
         * Product Details
         */
        div.product {
            div.images,
            div.summary {
                @apply w-full float-none;
            }
        }

        /**
         * Cart
         */
        table.cart {
            .product-thumbnail {
                @apply text-sm w-full;
            }
        }

        .cart-collaterals {
            .cart_totals,
            .shipping_calculator,
            .cross-sells {
                @apply w-full float-none text-left;
            }
        }

        /**
         * Checkout
         */
        &.woocommerce-checkout {
            form.login {
                .form-row {
                    @apply w-full float-none;
                }
            }
        }

        #payment {
            .terms {
                @apply text-left p-0;
            }

            #place_order {
                @apply w-full float-none box-border;
                margin-bottom: 1em;
            }
        }

        /**
         * Account
         */
        .lost_reset_password {
            .form-row-first,
            .form-row-last {
                @apply w-full float-none mr-0;
            }
        }
    }

}


@media screen and (max-width: $md){
    .woocommerce table.cart {
        td.actions {
            @apply text-left;

            .coupon {
                @apply float-none mb-2;
                @include clearfix();

                input,
                .button,
                .input-text {
                    @apply box-border;
                    width: 48%;
                }

                .input-text{
                    @apply flex-grow;
                }

                .input-text + .button,
                .button.alt {
                    @apply float-right;
                }
            }

            .button {
                @apply w-full block;
            }
        }
    }
}
