$border-color: #e2e2e2;

body.woocommerce-page .quantity .minus,
body.woocommerce-page .quantity .plus {
    @apply bg-white border-gray-300 h-full;

    &:focus{
        @apply outline-none;
    }
}

body.woocommerce-page .shop_table .quantity .minus,
body.woocommerce-page .shop_table .quantity .plus {
    height: 18px
}

.single-product #page div.product .summary,
.title-left h2,
ul.products li.product .price .amount,
ul.products li.product .price ins {
    @apply relative;
}


.quantity{
    input[type=number] {
        @apply text-center border-r-0 px-0 py-2 rounded-r-none;

        -moz-appearance: textfield;
        width: 4rem;
    }

    &.buttons_added{
        @apply flex;
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            @apply m-0 appearance-none;
        }

        input:focus {
            @apply outline-none;
        }
    }
}

.quantity-nav {
    @apply bg-white grid grid-rows-2 items-center;
    width: 35px;
    border: 1px solid $border-color;
}

.quantity-button {
    @apply cursor-pointer flex items-center justify-center;
    user-select: none;
    transition: background-color .1s linear, opacity .1s linear;

    &:active {
        background-color: #f5f5f7
    }

    &.disabled {
        @apply cursor-default opacity-25;
    }

    &.quantity-up {
        border-bottom: 1px solid $border-color;
    }

    &.quantity-down:before,
    &.quantity-up:before {
        @apply h-full text-sm flex items-center justify-center;
        font-family: icomoon, sans-serif;
        content: "\e9a8"
    }

    &.quantity-down:before {
        content: "\e9a4"
    }
}
