$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-app-indicator: "\e902";
$icon-app: "\e903";
$icon-123: "\e900";
$icon-activity: "\e901";
$icon-arrow-right: "\e99a";
$icon-arrow-left: "\e999";
$icon-arrow-down: "\e998";
$icon-arrow-up: "\e99d";
$icon-arrow-bar-up: "\e996";
$icon-arrow-bar-down: "\e995";
$icon-arrow-bar-left: "\e908";
$icon-arrow-bar-right: "\e909";
$icon-chevron-bar-up: "\e991";
$icon-chevron-bar-down: "\e98d";
$icon-chevron-bar-left: "\e98f";
$icon-chevron-bar-right: "\e990";
$icon-arrow-down-circle-fill: "\e90c";
$icon-arrow-up-circle-fill: "\e929";
$icon-arrow-right-circle-fill: "\e924";
$icon-arrow-left-circle-fill: "\e91b";
$icon-arrow-up-circle: "\e92a";
$icon-arrow-right-circle: "\e925";
$icon-arrow-left-circle: "\e91c";
$icon-arrow-down-circle: "\e90d";
$icon-arrow-left-short: "\e91e";
$icon-arrow-up-short: "\e933";
$icon-arrow-right-short: "\e926";
$icon-arrow-down-short: "\e917";
$icon-arrow-repeat: "\e921";
$icon-arrow-clockwise: "\e90a";
$icon-arrow-counterclockwise: "\e90b";
$icon-arrow-left-right: "\e91d";
$icon-arrow-down-up: "\e91a";
$icon-arrows-angle-contract: "\e936";
$icon-arrows-angle-expand: "\e937";
$icon-arrows-expand: "\e939";
$icon-arrows-collapse: "\e938";
$icon-chevron-contract: "\e99f";
$icon-chevron-double-up: "\e9a3";
$icon-chevron-double-down: "\e9a0";
$icon-chevron-double-left: "\e9a1";
$icon-chevron-double-right: "\e9a2";
$icon-chevron-down: "\e9a4";
$icon-chevron-left: "\e9a6";
$icon-chevron-up: "\e9a8";
$icon-chevron-bar-contract: "\e98c";
$icon-check2-circle: "\e989";
$icon-check-lg: "\e984";
$icon-check2-all: "\e988";
$icon-check-all: "\e981";
$icon-check-circle-fill: "\e982";
$icon-check-circle: "\e983";
$icon-check-square: "\e986";
$icon-check-square-fill: "\e985";
$icon-check: "\e987";
$icon-check2: "\e98b";
$icon-chevron-bar-expand: "\e98e";
$icon-chevron-right: "\e9a7";
$icon-chevron-expand: "\e9a5";
$icon-arrows-fullscreen: "\e93a";
$icon-arrows-move: "\e93b";
$icon-asterisk: "\e93c";
$icon-at: "\e93d";
$icon-award-fill: "\e93e";
$icon-award: "\e93f";
$icon-bag1: "\e94b";
$icon-bag-fill: "\e944";
$icon-bag-heart-fill: "\e945";
$icon-bag-plus-fill: "\e947";
$icon-bag-plus: "\e948";
$icon-check2-square: "\e98a";
$icon-funnel-fill: "\ea17";
$icon-funnel: "\ea18";
$icon-box-seam: "\ea19";
$icon-box: "\ea1a";
$icon-bar-chart-steps: "\ea1b";
$icon-bar-chart-fill: "\e94c";
$icon-bar-chart-line-fill: "\e94d";
$icon-bar-chart-line: "\e94e";
$icon-bar-chart: "\e94f";
$icon-sort-up: "\ea1c";
$icon-sort-up-alt: "\ea1d";
$icon-sort-down-alt: "\ea1e";
$icon-sort-down: "\ea1f";
$icon-sliders2: "\e9e9";
$icon-basket-fill: "\ea20";
$icon-basket: "\ea21";
$icon-basket2-fill: "\ea22";
$icon-basket2: "\ea23";
$icon-basket3-fill: "\ea24";
$icon-basket3: "\ea25";
$icon-bell: "\e953";
$icon-bell-slash: "\e952";
$icon-bell-fill: "\e950";
$icon-bell-slash-fill: "\e951";
$icon-graph-up: "\ea26";
$icon-graph-down-arrow: "\ea27";
$icon-graph-down: "\ea28";
$icon-graph-up-arrow: "\ea29";
$icon-box-arrow-left: "\ea6b";
$icon-box-arrow-in-right: "\ea6c";
$icon-currency-yen: "\e9bd";
$icon-currency-pound: "\e9bc";
$icon-currency-euro: "\e9ba";
$icon-currency-exchange: "\e9bb";
$icon-currency-dollar: "\e9b9";
$icon-currency-bitcoin: "\e9b8";
$icon-cart-plus-fill: "\ea2a";
$icon-cart-plus: "\e954";
$icon-cart1: "\e957";
$icon-cart2: "\e958";
$icon-cart3: "\e959";
$icon-cart4: "\e95a";
$icon-cash-coin: "\e95b";
$icon-cash-stack: "\e95c";
$icon-cash: "\e95d";
$icon-chat-dots-fill: "\e95f";
$icon-chat-dots: "\e960";
$icon-chat-fill: "\e961";
$icon-chat-square-text-fill: "\e97b";
$icon-chat-square-text: "\e97c";
$icon-chat-square: "\e97d";
$icon-chat-text-fill: "\e97e";
$icon-chat-text: "\e97f";
$icon-chat: "\e980";
$icon-chat-left-dots-fill: "\e962";
$icon-chat-left-dots: "\e963";
$icon-chat-left-fill: "\e964";
$icon-chat-left-text-fill: "\e969";
$icon-chat-left-text: "\e96a";
$icon-chat-left: "\e96b";
$icon-chat-quote-fill: "\e96c";
$icon-chat-quote: "\e96d";
$icon-chat-right-dots-fill: "\e96e";
$icon-chat-right-dots: "\e96f";
$icon-chat-right-fill: "\e970";
$icon-chat-right-heart-fill: "\e971";
$icon-chat-right-heart: "\e972";
$icon-chat-right-text-fill: "\e975";
$icon-chat-right-text: "\e976";
$icon-chat-right: "\e977";
$icon-chat-square-dots-fill: "\e978";
$icon-chat-square-dots: "\e979";
$icon-cloudy: "\e9b7";
$icon-cloud-arrow-down-fill: "\e9a9";
$icon-cloud-arrow-down: "\e9aa";
$icon-cloud-arrow-up-fill: "\e9ab";
$icon-cloud-arrow-up: "\e9ac";
$icon-cloud-check-fill: "\e9ad";
$icon-cloud-check: "\e9ae";
$icon-cloud-download-fill: "\e9af";
$icon-cloud-download: "\e9b0";
$icon-download: "\e9ca";
$icon-cloud-upload-fill: "\e9b1";
$icon-cloud-upload: "\e9b2";
$icon-cloud: "\e9b3";
$icon-cloudy-fill: "\e9b6";
$icon-crop: "\ea2b";
$icon-diagram-3-fill: "\e9c8";
$icon-diagram-3: "\e9c9";
$icon-envelope-fill: "\e9cb";
$icon-envelope: "\e9ce";
$icon-envelope-open-fill: "\e9cc";
$icon-envelope-open: "\e9cd";
$icon-exclamation-circle: "\ea2c";
$icon-exclamation-circle-fill: "\ea2d";
$icon-exclamation-diamond-fill: "\ea2e";
$icon-exclamation-diamond: "\ea2f";
$icon-exclamation-lg: "\ea30";
$icon-exclamation-octagon-fill: "\ea31";
$icon-exclamation-octagon: "\ea32";
$icon-exclamation-square-fill: "\ea33";
$icon-exclamation-square: "\ea34";
$icon-exclamation-triangle-fill: "\ea35";
$icon-exclamation-triangle: "\ea36";
$icon-exclamation: "\ea37";
$icon-search: "\e9e0";
$icon-geo-alt-fill: "\e9cf";
$icon-geo-alt: "\e9d0";
$icon-geo-fill: "\e9d1";
$icon-geo: "\e9d2";
$icon-hand-thumbs-down-fill: "\e9d3";
$icon-hand-thumbs-down: "\e9d4";
$icon-hand-thumbs-up-fill: "\e9d5";
$icon-hand-thumbs-up: "\e9d6";
$icon-heart-fill: "\ea38";
$icon-heart: "\ea39";
$icon-heart-half: "\ea3a";
$icon-handbag-fill: "\e9d7";
$icon-handbag: "\e9d8";
$icon-hash: "\e9d9";
$icon-info-circle: "\ea3b";
$icon-info-lg: "\ea3c";
$icon-info: "\ea3d";
$icon-person-fill: "\ea3e";
$icon-person: "\ea3f";
$icon-pin-angle-fill: "\e9da";
$icon-pin-angle: "\e9db";
$icon-pin-fill: "\e9dc";
$icon-pin-map-fill: "\e9dd";
$icon-pin-map: "\e9de";
$icon-pin: "\e9df";
$icon-youtube: "\e9fa";
$icon-play-btn-fill: "\ea40";
$icon-play-btn: "\ea41";
$icon-play-circle-fill: "\ea42";
$icon-pause-circle-fill: "\ea43";
$icon-stop-circle-fill: "\ea44";
$icon-play-circle: "\ea45";
$icon-pause-circle: "\ea46";
$icon-stop-circle: "\ea47";
$icon-play-fill: "\ea48";
$icon-stop-fill: "\ea49";
$icon-pause-fill: "\ea4a";
$icon-play: "\ea4b";
$icon-pause: "\ea4c";
$icon-stop: "\ea4d";
$icon-plus-circle-fill: "\ea4e";
$icon-plus-circle: "\ea4f";
$icon-plus-lg: "\ea50";
$icon-plus1: "\ea51";
$icon-dash-lg: "\e9c1";
$icon-dash: "\e9c5";
$icon-x-circle-fill: "\e9f4";
$icon-x-circle: "\e9f5";
$icon-x-lg: "\e9f6";
$icon-x: "\e9f9";
$icon-zoom-in: "\e9fb";
$icon-zoom-out: "\e9fc";
$icon-dash-circle-fill: "\ea15";
$icon-dash-circle: "\ea16";
$icon-speedometer2: "\ea52";
$icon-signpost-2-fill: "\e9e3";
$icon-signpost-2: "\e9e4";
$icon-signpost-fill: "\e9e5";
$icon-share-fill: "\e9e1";
$icon-share: "\e9e2";
$icon-signpost-split-fill: "\e9e6";
$icon-signpost-split: "\e9e7";
$icon-signpost: "\e9e8";
$icon-stack: "\ea53";
$icon-star-fill: "\ea54";
$icon-star-half: "\ea55";
$icon-star: "\ea56";
$icon-wallet2: "\e907";
$icon-ticket-detailed-fill: "\e9ee";
$icon-ticket-detailed: "\e9ef";
$icon-ticket-fill: "\e9f0";
$icon-ticket-perforated-fill: "\e9f1";
$icon-ticket-perforated: "\e9f2";
$icon-ticket: "\e9f3";
$icon-tag-fill: "\e9ea";
$icon-tag1: "\e9eb";
$icon-tags-fill: "\e9ec";
$icon-tags: "\e9ed";
$icon-briefcase: "\e912";
$icon-book-open: "\e914";
$icon-notebook: "\e918";
$icon-wallet: "\e920";
$icon-user: "\e928";
$icon-account-details: "\f432";
$icon-map: "\e92d";
$icon-download1: "\ea69";
$icon-newlatter: "\f11f";
$icon-moredots: "\f10c";
$icon-arrowaroundright: "\f10e";
$icon-bag: "\f120";
$icon-tag: "\f103";
$icon-tool: "\f11b";
$icon-layout: "\f11a";
$icon-360-deg: "\f102";
$icon-carttest-1: "\f123";
$icon-compare: "\f122";
$icon-logout: "\f10a";
$icon-eye3: "\f116";
$icon-statik: "\f105";
$icon-altcart: "\f107";
$icon-coupon: "\f106";
$icon-addcart: "\f11c";
$icon-note: "\f104";
$icon-scaleerrows: "\f121";
$icon-edit: "\f113";
$icon-carttest-2: "\f101";
$icon-cart: "\f11d";
$icon-account-download: "\f433";
$icon-login: "\f10b";
$icon-account-exit: "\f434";
$icon-account-orders: "\f435";
$icon-account-other: "\f437";
$icon-account-payment: "\f439";
$icon-size-ruler: "\f438";
$icon-file-code: "\e9f7";
$icon-minus: "\e904";
$icon-plus: "\e905";
$icon-expand-alt: "\e993";
$icon-expand-alt1: "\e994";
$icon-expand-arrows-alt2: "\e99b";
$icon-expand-arrows-alt1: "\e99c";
$icon-link1: "\e9f8";
$icon-link: "\e9fd";
$icon-external-link1: "\e9ff";
$icon-external-link: "\ea00";
$icon-thumbs-up: "\ea01";
$icon-thumbs-up2: "\ea03";
$icon-thumbs-down: "\ea04";
$icon-thumbs-down2: "\ea06";
$icon-share2: "\e97a";
$icon-share3: "\ea08";
$icon-share-alt2: "\ea09";
$icon-share-alt: "\ea0b";
$icon-folder2: "\e973";
$icon-folder: "\ea0c";
$icon-folders2: "\ea0d";
$icon-folders1: "\ea0f";
$icon-headset: "\e966";
$icon-headset2: "\e968";
$icon-comments1: "\ea10";
$icon-comments: "\ea12";
$icon-ios-star-outline: "\e90e";
$icon-ios-star: "\e90f";
$icon-home: "\e955";
$icon-home2: "\e95e";
$icon-question-square: "\e906";
$icon-question-square1: "\e910";
$icon-question: "\e911";
$icon-question2: "\e913";
$icon-question-circle: "\e935";
$icon-question-circle2: "\e941";
$icon-hashtag2: "\e943";
$icon-hashtag: "\e946";
$icon-random1: "\ea13";
$icon-random2: "\ea14";
$icon-barcode-read1: "\e915";
$icon-barcode-read2: "\e916";
$icon-qrcode1: "\e919";
$icon-qrcode2: "\e91f";
$icon-bars1: "\e922";
$icon-bars2: "\e923";
$icon-eye-slash: "\e927";
$icon-eye-slash2: "\e92b";
$icon-eye: "\e92c";
$icon-eye2: "\e92e";
$icon-clock1: "\e92f";
$icon-clock: "\e931";
$icon-search1: "\e932";
$icon-search11: "\e934";
$icon-question-circle-regular: "\e949";
$icon-life-ring-regular: "\e94a";
$icon-instagram: "\ea57";
$icon-youtube1: "\ea58";
$icon-youtube-play: "\ea59";
$icon-git: "\ea5a";
$icon-git-square: "\ea5b";
$icon-wordpress-simple: "\ea5c";
$icon-facebook-f: "\ea5d";
$icon-facebook-square1: "\e9c2";
$icon-facebook: "\ea5e";
$icon-qq-brands1: "\e9b4";
$icon-weixin1: "\e9b5";
$icon-alipay1: "\e9be";
$icon-weibo1: "\e9bf";
$icon-google1: "\e9c0";
$icon-twitter1: "\e9c3";
$icon-twitter: "\ea5f";
$icon-twitter-square: "\ea60";
$icon-wordpress1: "\e9c4";
$icon-github-alt1: "\e9c6";
$icon-github: "\ea61";
$icon-github-square: "\ea62";
$icon-linux: "\ea63";
$icon-windows: "\ea64";
$icon-apple1: "\e9c7";
$icon-app-store-ios: "\ea65";
$icon-android: "\ea66";
$icon-app-store: "\ea67";
$icon-chrome: "\ea68";
$icon-briefcase1: "\e04b";

