//===================================
// 按钮
//===================================
.woocommerce{
    .button {
        @include button-base();
        @include button-bg(#f3f3f3, darken(#f3f3f3, 3%), darken(#f3f3f3, 6%));
        @include button-border(#ddd, #dadada, #d3d3d3);

        &.loading {
            @apply opacity-25;
            padding-right: 2.618em;

            &::after {
                @apply align-top font-normal absolute leading-none;
                font-family: "WooCommerce";
                content: "";
                top: 11px;
                margin-left: 0.53em;
                animation: spin 2s linear infinite;
            }
        }

        &.added{
            padding-right: 2.618em;
            &::after {
                @apply absolute leading-none;
                font-family: "WooCommerce";
                content: "";
                margin-left: 0.53em;
                top: 11px;
            }
        }

        &.alt {
            @include button-bg($woocommerce, darken($woocommerce, 3%), darken($woocommerce, 6%));
            @include button-border(darken($woocommerce, 3%), darken($woocommerce, 6%), darken($woocommerce, 9%));
            @apply text-white;
        }
    }
}

.field.has-addons .control:last-child .button {
    @apply text-base;
}

.add_to_cart_button {
    @apply text-gray-600;
}
