//===================================
// Checkout Bar
//===================================
.rs-checkout-wrap {
    @apply relative;
    margin: 130px auto 0;
}

.rs-checkout-bar {
    @apply absolute p-0;
    top: -90px;
    width: 80%;
    height: 6px;
    margin: 0 auto 20px 10%;
    border-radius: 6px;
    background-size: 35px 35px;

    li {
        @apply relative inline-block p-0 font-normal text-center text-sm align-top bg-transparent m-0 mt-6;
        width: 32%;

        &::before {
            @apply absolute text-white font-bold text-center text-sm;
            z-index: 5;
            top: -40px;
            left: 43%;
            width: 26px;
            height: 26px;
            border: 6px solid #fff;
            border-radius: 50%;
            background: #ddd;
            box-sizing: content-box;
            line-height: 26px;
        }

        &.active::after,
        &.next::after {
            @apply absolute z-0 w-full;
            top: -24px;
            left: 50%;
            height: 6px;
            background-color: #ccc;
            background-size: 35px 35px;
            content: "";
        }

        &.active.last {
            &:after {
                width: 60%;
                border-radius: 6px;
            }
        }

        &.visited::before {
            z-index: 1;
            background: #444;
        }

        &:nth-child(1)::before {
            content: "1";
        }

        &:nth-child(2)::before {
            content: "2";
        }

        &:nth-child(3)::before {
            content: "3";
        }
    }
}

.woocommerce-cart .rs-checkout-bar li.next::after, ul.rs-checkout-bar {
    background-color: #ececec;
}

.rs-checkout-bar.final li.active::after {
    width: auto;
}

.rs-checkout-bar {
    li.visited::after, &::before {
        @apply absolute left-0;
        background-color: var(--wprs-primary-color);
        width: 17%;
        height: 6px;
        border-radius: 6px;
        background-size: 35px 35px;
        content: " ";
    }

    li.visited {
        background: 0 0;

        &::after {
            @apply w-full;
            z-index: 99;
            top: -28px;
            left: 50%;
            content: "";
        }
    }
}

.woocommerce-checkout {
    .rs-checkout-bar li.active::after {
        background-color: var(--wprs-primary-color);
    }

    ul.rs-checkout-bar li.next {
        &::before {
            z-index: 4;
            background: #444;
        }

        color: #444;

        &::after {
            background-color: #ccc;
        }
    }
}


.woocommerce-cart ul.rs-checkout-bar li.active {
    z-index: 3;
    color: #444;
    background: 0 0;

    &::before {
        z-index: 4;
        background: #444;
    }
}

.woocommerce-checkout ul.rs-checkout-bar li {
    &.active {
        z-index: 3;
        color: #444;
        background: 0 0;
    }

    &.next {
        color: #444;
    }

    &.active::before, &.next::before {
        z-index: 4;
        background: #444;
    }
}
