
.woocommerce-demo-store .rs-mini-cart-wrap {
    z-index: 10000
}

.rs-mini-cart-wrap div.blockOverlay {
    background-color: transparent !important
}

#ajax-loading {
    @apply absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -35px
}

.spinner {
    @apply relative text-center;
    top: 50%;
    width: 70px;
    margin: -9px auto 0;

    & > div {
        @apply inline-block rounded-full;
        width: 18px;
        height: 18px;
        background-color: #dc9814;
        animation: a 1.4s infinite ease-in-out both
    }

    .bounce1 {
        animation-delay: -.32s
    }

    .bounce2 {
        animation-delay: -.16s
    }
}

@keyframes a {
    0%, 80%, to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.admin-bar .rs-mini-cart-wrap {
    top: 32px
}

.admin-bar.customize-partial-edit-shortcuts-shown .rs-mini-cart-wrap {
    top: 0
}

.admin-bar.customize-partial-edit-shortcuts-shown .rs-mini-cart-wrap .widget_shopping_cart {
    @apply h-full;
}

.admin-bar .rs-mini-cart-wrap .widget_shopping_cart .product_list_widget {
    height: calc(100vh - 275px)
}

.drawer-open {
    @apply h-full overflow-hidden relative;

    .rs-mini-cart-wrap {
        overscroll-behavior: contain;
        @apply right-0;
    }

    @screen md {
        &:before {
            @apply absolute block top-0 left-0 w-full cursor-pointer;
            z-index: 100;
            height: 1000%;
            background: rgba(0, 0, 0, .7);
            content: "";
            transition: opacity .5s, visibility .5s
        }
    }
}

.rs-mini-cart-wrap {
    @apply overflow-hidden fixed top-0 left-auto h-full bg-white;
    z-index: 101;
    right: -370px;
    width: 370px;
    transition: all .5s;

    .widget_shopping_cart {
        @apply relative top-auto left-auto h-full m-0 bg-white z-10 overflow-x-hidden overflow-y-scroll;
        -webkit-overflow-scrolling: touch;
        padding: 45px 20px 0;
        font-size: inherit;

        h2.widgettitle {
            @apply hidden;
        }

        .product_list_widget {
            @apply overflow-y-scroll bg-transparent border-0;
            height: calc(100vh - 245px);
            height: calc((var(--vh, 1vh) * 100) - 245px);
            border-bottom-right-radius: 20px;
            -webkit-overflow-scrolling: touch;
            box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .06);

            .product_list_widget {
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    width: 0 !important
                }
            }
        }
    }

    .close-drawer {
        @apply absolute cursor-pointer;
        z-index: 99;
        top: 15px;
        right: 20px;
        width: 14px;
        height: 14px;
        transition: opacity .3s;

        &:after,
        &:before {
            @apply absolute left-0;
            width: 2px;
            height: 15px;
            background-color: #333;
            content: ""
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

}


.site-header-cart a.cart-contents {
    .amount {
        @apply hidden;
        @screen md {
            @apply inline-block;
        }
    }

    .count {
        @apply inline-block relative text-center text-xs border;
        color: var(--wprs-primary-color);
        border-color: var(--wprs-primary-color);
        width: 28px;
        height: 28px;
        margin-left: 5px;
        padding: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        line-height: 22px;
        letter-spacing: -0.7px;

        &::after {
            @apply absolute border border-b-0;
            border-color: var(--wprs-primary-color);
            bottom: 90%;
            left: 50%;
            width: 10px;
            height: 6px;
            margin-bottom: 1px;
            margin-left: -6px;
            border-top-left-radius: 99px;
            border-top-right-radius: 99px;
            content: ""
        }
    }
}


