.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    @apply relative list-outside list-none w-auto break-words;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    border-top: 3px solid;
    @include clearfix;

    &::before {
        @apply absolute inline-block;
        font-family: "WooCommerce";
        content: "";
        top: 1em;
        left: 1.5em;
    }

    li {
        list-style: none outside !important;

        // Required for default theme compatibility
        padding-left: 0 !important;

        // Required for default theme compatibility
        margin-left: 0 !important;

        // Required for default theme compatibility

    }
}

.woocommerce-Message,
.woocommerce-message {
    @apply border-green-600 bg-green-100;

    &::before {
        content: "";
        color: #8fae1b;
    }

    .button{
        @apply text-sm float-right rounded-sm;
        color: #333;
    }
}

.woocommerce-info {
    @apply border-blue-600 bg-blue-100;

    &::before {
        color: #1e85be;
    }
}

.woocommerce-error {
    @apply border-red-600 bg-red-100;
    margin-left: 0 !important;

    &::before {
        content: "";
        color: #b81c23;
    }
}

/**
 * Global styles */
p.demo_store,
.woocommerce-store-notice {
    @apply absolute top-0 right-0 bottom-0 left-0 w-full text-center hidden;
    font-size: 1em;
    padding: 1em 0;
    background-color: $woocommerce;
    color: $primarytext;
    z-index: 99998;
    box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);

    a {
        color: $primarytext;
        text-decoration: underline;
    }
}

.admin-bar p.demo_store {
    top: 32px;
}



.woocommerce-notice {
    &--success {
        @extend .woocommerce-message;
    }
}
