//===================================
// 数字分页
//===================================

.woocommerce-pagination {
    @apply mt-8 text-center;

    ul {
        @apply inline-block whitespace-nowrap p-0 clear-both border-r-0;
        border: 1px solid darken($secondary, 10%);
        margin: 1px;

        .page-numbers {
            @include menu();
        }

        li {
            @apply p-0 m-0 float-left inline overflow-hidden;
            border-right: 1px solid darken($secondary, 10%);

            &:last-child{
                border-right: 0;
            }

            a,
            span {
                @apply m-0 leading-none block font-normal no-underline;
                font-size: 1em;
                padding: 0.5rem 0.75rem;
                min-width: 1em;
            }

            span.current,
            a:hover,
            a:focus {
                background: $secondary;
                color: darken($secondary, 40%);
            }
        }
    }
}

