/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */
$price-font-family: 'Overpass', sans-serif;
$primary-font-color: #333;
$delete-font-color: #666;

.woocommerce-Price-amount,
.price {
    font-family: $price-font-family;
}

.woocommerce {
    :not(.sale) {
        .price {
            @apply font-semibold text-3xl;
            color: $secondary;
        }
    }

    ul.products {
        li.product {
            .price {
                @apply block relative font-normal text-gray-900;

                .amount {
                    @apply font-semibold;
                    color: $secondary;
                    font-size: 21px;
                }

                del {
                    @apply inline-block text-gray-600;

                    .amount {
                        @apply text-gray-600;
                    }

                    bdi {
                        @apply text-base font-light;
                    }
                }

                ins {
                    @apply inline-block font-bold bg-transparent;
                    text-decoration: none;
                }

                .from {
                    font-size: 0.67em;
                    margin: (-2px) 0 0 0;
                    text-transform: uppercase;
                    color: rgba(desaturate($highlight, 75%), 0.5);
                }
            }
        }

        li.product-type-grouped,
        li.product-type-variable {
            .price {
                color: $secondary;

                //.amount {
                //    @apply text-xl;
                //}
            }
        }
    }

    div.product {

        span.price,
        p.price {
            @apply flex items-end;
            color: $secondary;

            ins {
                @apply mr-2 no-underline;
                background: inherit;
                line-height: 1.4;

                .amount {
                    @apply font-semibold text-3xl;
                }
            }

            del {
                @apply text-gray-600 font-light order-2;
                .amount {
                    @apply text-xl text-gray-600;
                }
            }
        }
    }
}
