//===================================
// Sticky add to cart bar
//===================================

.rs-sticky-add-to-cart {
    @apply fixed border-b border-gray-200 w-full bg-white;
    bottom: -100px;
    z-index: 99;
    box-shadow: 5px 0 5px 0 rgba(27, 31, 35, .1);
    transition: all .45s;

    &__content {
        @apply flex items-center justify-between;
    }

    &__content-title {
        @apply block pl-4 font-bold overflow-hidden whitespace-nowrap;
        text-overflow: ellipsis;

        .star-rating {
            @apply text-sm;
            margin-top: 2px;
        }
    }

    &__content-price {
        @apply text-gray-900 mr-1;

        del {
            @apply text-sm mr-1;
            opacity: 0.35;
        }
    }

    &__content-product-info {
        @apply pl-0 flex pr-4 mr-auto text-gray-800;
        min-width: 0;
        flex: 1;
    }

    &__content-button {
        @apply text-right ml-auto;
        min-width: 200px;

        a {
            @apply rounded-sm;

            &.button {
                @apply font-bold text-sm;
                transition: all 0.2s;
            }

            &.added_to_cart {
                @apply hidden;
            }
        }
    }

    img {
        width: inherit;
        max-height: 65px;
    }

    &.visible {
        @apply bottom-0;
    }
}

.page-template .rs-sticky-add-to-cart {
    @apply hidden;
}

//.admin-bar {
//    .rs-sticky-add-to-cart.visible {
//        top: 32px;
//    }
//
//    .rs-sticky-add-to-cart--slideInDown {
//        top: 32px;
//    }
//}
