.variations_form {
    @apply flex-wrap;

    &__select {
        min-width: 75%;
        width: auto !important;
        box-shadow: none;
        margin-right: 1em;
        color: $text-light;
    }
}

.woocommerce-variation-add-to-cart {
    @apply flex;
}

.woocommerce-variation-price {
    @apply mb-2;
}

a.reset_variations {
    font-size: 13px;
    text-decoration: underline;
}

div.product table.variations td,
.product table.variations th {
    @apply p-0 bg-transparent list-none;
    display: list-item;
}

div.product table.variations .label {
    @apply block font-bold text-left;
    margin-bottom: 6px;
    color: #222;
    font-size: 15px;
}

//div.product table.variations .value {
//    margin-bottom: 1em;
//}
