.site__footer {
  --footer-bg-color: var(--light-text-color);
  --footer-text-color: var(--white);
  --footer-text-hover-color: var(--white);

  background-color: var(--footer-bg-color);

  ul {
    @apply m-0 p-0 list-none;
  }

  .wp-block-columns {
    @apply mb-0;
  }

  .widget {
    @apply w-full flex-grow;
    color: var(--footer-text-color);

    @screen lg {
      @apply mb-0 flex-grow;
    }

    &:last-child {
      @apply mb-0 pb-0;
    }

    img {
      @apply rounded-none shadow-none;
    }

    h2, h3 {
      color: var(--footer-text-color);
    }

    h2{
      @apply text-xl;
    }

    li {
      color: var(--footer-text-color);

      a {
        color: var(--footer-text-color);

        &:hover {
          color: var(--footer-text-hover-color);
        }
      }
    }
  }
}

.site__info {
  @apply mx-auto;
  color: var(--footer-text-color);

  a {
    color: var(--footer-text-color);

    &:hover {
      color: var(--footer-text-hover-color);
    }
  }
}

@screen -lg{
  .site-middle-footer-inner-wrap {
    padding-bottom: 0 !important;
  }

  .site-footer-middle-section-1 {
    @apply mb-4;
    .widget {
      border: 0;
    }
  }

  .site__footer{
    .widget_nav_menu{
      @apply border-b border-gray-400;
      .widgettitle{
        @apply w-full flex items-center justify-between py-2;
        &:after{
          font-family: icomoon, sans-serif;
          content: '\e9a4';
        }
      }

      &+div{
        @apply hidden;
      }
    }
  }

  .footer-html {
    @apply px-4;
  }

  .site-footer-middle-section-3 {
    .widget:last-child {
      border: 0 !important;
    }
  }
}