.site__footer {
    --bg-color: #004178;
    --text-color: #fff;
    --text-hover-color: #fff;

    background-color: var(--bg-color);

    ul {
        @apply m-0 p-0 list-none;
    }

    .wp-block-columns {
        @apply mb-0;
    }

    .widget {
        @apply w-full flex-grow;

        @screen lg {
            @apply mb-0 flex-grow;
        }

        &:last-child {
            @apply mb-0 pb-0;
        }

        img {
            @apply rounded-none shadow-none;
        }

        li {
            a {
                color: var(--text-color);

                &:hover {
                    color: var(--text-hover-color);
                }
            }
        }
    }
}

.site__info {
    @apply mx-auto;
    color: var(--text-color);

    a {
        color: var(--text-color);

        &:hover {
            color: var(--text-hover-color);
        }
    }
}

.rs-widgets--below-content {
    @apply flex -mx-4 flex-wrap;

    & > .widget {
        @apply mx-4;
    }
}

.rs-widgets--footer {
    @apply flex -mx-4 flex-wrap;
    color: var(--text-color);

    @screen lg {
        @apply flex-nowrap;
    }
}


@media screen and (max-width: 1023px) {
    .site-middle-footer-inner-wrap{
        padding-bottom: 0 !important;
    }
    .site-footer-middle-section-1{
        @apply mb-4;
        .widget{
            border: 0;
        }
    }
    .site-footer{
        .widget{
            &>div{
                @apply hidden pb-4;
            }
        }
    }
    .widget-area.footer-widget-area{
        .widget{
            @apply border-b border-gray-300;
        }
        .widget-title{
            @apply flex items-center justify-between mb-4;
            &:after{
                font-family: icomoon, sans-serif;
                content: '\e9a4';
            }
        }
        .menu-item{
            @apply leading-normal;
        }
    }

    .footer-html{
        @apply px-4;
    }

    .site-footer-middle-section-3{
        .widget:last-child{
            border: 0 !important;
        }
    }
}