@import "menu";
@import "menu-toggle";

body {
    --header-bg: #fff;
    --header-text-color: #333;
    --header-border-color: #f3f3f3;

    --header-h: 64px; // 移动端页头高度
    --notice-h: 0px; // 移动端通知条高度
    --admin-bar-h: 46px; // 管理工具条高度
    --logo-h: 48px; // 移动端Logo高度

    --header-sticky-h: 75px; // 固定移动端页头高度
    --sticky-logo-h: 48px; // 固定Logo高度
    --header-z: 99;

    @screen md {
        --header-h: 75px; // 平板端页头高度
        --notice-h: 0px;    // 平板端通知条高度
        --logo-h: 48px;             // 平板端Logo高度
    }

    @screen lg {
        // --header-h: 100px;    // PC端页头高度
        --header-h: 140px;    // PC端页头高度
        --notice-h: 45px;     // PC端通知条高度
        --admin-bar-h: 32px;       // PC端管理工具条高度
        --logo-h: 64px;                 // PC端Logo高度
    }
}

.site__notice {
    @apply w-full hidden transition-all duration-300;
    z-index: var(--header-z);
    height: var(--notice-h);

    @screen lg {
        @apply block;
    }
}

.site__header {
    @apply border-b transition-all duration-300;
    background-color: var(--header-bg-color);
    border-bottom-color: var(--header-border-color);
    height: var(--header-h);
    z-index: var(--header-z);

    .container {
        @apply flex justify-between items-center;
    }

    &-holder{
        @apply transition-all duration-300;
    }
}


.site__branding {
    @apply flex-grow;
    z-index: var(--header-z);
    @screen lg {
        @apply flex-grow-0;
    }

    h1 {
        @apply text-4xl;
    }

    .custom-logo-link {
        @apply block;
        img {
            width: auto;
            height: var(--logo-h);
            transition: all .3s;
        }
    }
}

.site__nav {
    @apply flex flex-grow justify-end;
    @screen lg {
        @apply mr-8;
    }
    .nav-menu {
        @apply hidden flex-wrap m-0 left-0 absolute;
        top: var(--header-h);
        z-index: 98;

        @screen lg {
            @apply flex flex-nowrap static ml-8;
        }

        @screen xl {
            @apply ml-0;
        }

        li {
            @apply w-full relative;

            @screen lg {
                @apply w-auto;
            }
        }

        a {
            @apply relative block leading-none;

            @screen md {
                @apply leading-none;
            }
        }

    }

    &.is-toggled {
        .nav-menu {
            @apply flex w-full;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        }
    }
}


.site__banner {
    background-color: var(--banner-bg-color);
    background-image: var(--banner-bg-image);
    border-color: var(--banner-border-color);
    min-height: 300px;
    @apply flex flex-col justify-center items-center bg-cover bg-center bg-no-repeat;

    * {
        color: var(--banner-text-color);
    }

    &+.rs-post__content{
        @apply mt-8;
    }
}


.site__submenu {
    background-color: var(--banner-bg-color);
    border-color: var(--banner-border-color);

    a {
        color: var(--banner-text-color);

        &:before {
            background: var(--banner-text-color);
        }
    }
}


body.rs-sticky {
    .site__notice,
    .site__header {
        @apply fixed;
    }

    .site__header {
        top: var(--notice-h);
    }

    .elementor,
    .site__banner,
    .site__content {
        transition: all .3s;
    }

    .site__header-holder{
        height: calc(var(--notice-h) + var(--header-h));
    }

    .site__banner + .site__content {
        margin-top: 0;
    }
}


body.rs-sticky.is-sticky {
    .site__header {
        @apply fixed;
        top: 0;
        @screen lg {
            height: var(--header-sticky-h);
        }

        .custom-logo-link {
            img {
                height: var(--sticky-logo-h);
            }
        }
    }

    .site__header-holder{
        height: var(--header-sticky-h);
    }

    .site__notice {
        height: 0;
    }
}


body.rs-sticky.admin-bar {
    .site__notice {
        top: var(--admin-bar-h);
    }

    .site__header {
        @apply fixed;
        top: calc(var(--admin-bar-h) + var(--notice-h));
    }
}

body.rs-sticky.admin-bar.is-sticky {
    .site__notice {
        top: 0;
    }

    .site__header {
        @apply fixed;
        top: var(--admin-bar-h);
    }
}
