@import "tab";

.sm-menu {
    li.sm-mega-menu {
        position: static !important;

        .rs-mega-menu {
            left: 0;
        }
    }

    &>li.sm-mega-menu,
    &>li.menu-item-has-children {

        .rs-mega-menu,
        .sub-menu {
            border-top: 3px solid theme('colors.blue.700');
        }

        &:hover {

            .rs-mega-menu,
            .sub-menu {
                display: block;
            }
        }
    }
}

.rs-product-nav {
    border-bottom: 1px solid $border-200;
    @apply mb-4 pb-4;

    .rs-product-column:not(:last-child) {
        border-right: 1px solid $border-200;
    }

    a {
        @apply text-center;
        &:hover {
            background: transparent !important;
            color: $text-color !important;
        }
    }
}

.rs-product-link {
    padding: 0 !important;
}

.rs-product-nav-addon {
    a {
        @apply mr-6;
        color: $primary !important;
        padding: 0 8px 0 0px !important;

        &:hover {
            background: transparent !important;
        }
    }
}
