.menu-toggle {
    @apply mx-3 relative overflow-hidden;
    color: var(--menu-text-color);

    svg {
        @apply mr-2;
    }

    @screen lg {
        @apply hidden;
    }

    span,
    &:before,
    &:after {
        display: block;
        content: '';
        width: 32px;
        height: 2px;
        background-color: var(--menu-text-color);
        margin: 8px 0;
        transition: 0.4s;
    }

    span {
        text-indent: -999px;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.is-toggled {
    .menu-toggle {
        span {
            opacity: 0;
        }

        &:before {
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        &:after {
            transform: rotate(45deg) translate(-7px, -6px);
        }
    }
}
