@media screen and (max-width: 1023px) {
    .site__nav{
        @apply px-6 fixed top-0 bottom-0;
        padding-top: 100px;
        background: #fff url(../images/logo.svg) center 32px no-repeat;
        background-size: 180px;
        width: 80vw;
        z-index: 99;
        left: -80vw;
        transition: all .3s;

        &.is-toggled {
            left: 0;
        }
    }

    .site__nav .nav-menu a {
        width: 100%;
    }

    .sub-arrow {
        width: 60px;
        @apply ml-0;
    }

    .o-nav {
        .menu-item-has-children {
            & > a {
                &:after {
                    @apply bg-gray-200 flex items-center justify-center;
                    height: 32px;
                    width: 32px;
                    font-size: 14px;
                    font-family: 'icomoon';
                    content: '\e9a4';
                    text-align: center;
                }

                &.active {
                    &:after {
                        content: '\e9a8';
                    }
                }
            }
        }
    }

    .site__nav .nav-menu .sub-menu a{
        padding: 0 16px;
    }

    .site__nav .nav-menu li {
        a {
            @apply flex items-center justify-between pl-4;
        }
    }

    .site__nav.is-toggled .container,
    .site__nav .nav-menu .sub-menu {
        box-shadow: none;
    }

    .o-nav ul.sub-menu {
        position: static !important;
    }

    .f-menu-toggled {
        transition: all .3s;
        position: fixed;
        width: 100%;
        // left: 80vw;
        z-index: 999;
        overflow: hidden;

        .o-banner,
        .o-breadcrumb,
        .site__content,
        .custom-logo-link {
            pointer-events: none;
        }

        .custom-logo-link,
        .f-search,
        .o-banner,
        .o-breadcrumb,
        .site__footer,
        .site__footer--copyright,
        .site__main {
            -ms-transform: translate(80vw, 0);
            transform: translate3d(80vw, 0, 0);
        }

        .menu-toggle {
            position: fixed;
            top: 12px;
            right: 12px;
            background: #fff;
            width: 52px;
            height: 48px;
            text-align: center;
        }

        .menu-toggle span, .menu-toggle:after, .menu-toggle:before {
            @apply mx-auto;
        }
    }

    .menu-toggle.is-toggled {
        &:before {
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        span {
            opacity: 0;
        }

        &:after {
            transform: rotate(45deg) translate(-7px, -6px);
        }
    }

    .f-body-cover {
        background: rgba(0, 0, 0, .3);
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
    }
}
