$text-color: $text-base;
$text-highlight: $text-highlight;

.rs-post {
    &__header {
        @apply mb-4;

        @screen lg {
            @apply mb-8;
        }
    }

    &__title {
        @apply text-3xl leading-normal;
        color: $text-color;
    }

    &__meta {
        @apply flex;
        color: $text-color;

        & > div {
            @apply mr-2;
        }
    }

    &__conent {

    }
}

.site__banner {
    .rs-post {
        &__title {
            color: $text-highlight;
        }

        &__meta {
            color: $text-highlight;
        }
    }
}

.text-center{
    .rs-post__meta{
        @apply justify-center;
    }
}


.text-right{
    .rs-post__meta{
        @apply justify-end;
    }
}
