.rs-shuffle__container{
    @apply flex flex-wrap;
    @screen lg{
        @apply gap-8 -mx-4;
    }
}

.rs-shuffle__item{
    @apply mb-6;
    width: 100%;
    @screen lg{
        @apply mx-3 ;
        width: calc(50% - 24px);
    }
}

.rsi-filters_item{
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 4px 0 0;
    padding: 4px 8px;
    @screen lg{
        padding: 8px 16px;
    }

    &.active{
        background: var(--primary-color);
        color: var(--white);
        position: relative;
        border-radius: 50px;
    }
}