body{
    background: var(--wprs-site-bg);
}

@include tablet {
    body.show-mobile-nav {
        padding-bottom: 60px;
    }
}

@screen lg {
    body.single-product.show-sticky-cart-bar {
        padding-bottom: 66px;
    }
}

.site .elementor-section.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container,
.container {
    @apply mx-auto w-full;
    max-width: var(--global-content-width);
    padding: 0 var(--global-content-edge-padding);

    &--focus {
        @screen xl {
            max-width: $tablet - 48px;
        }
    }
}

.site .elementor-section.elementor-section-boxed.elementor-inner-section > .elementor-container{
    @apply px-0;
    max-width: initial;
}

.site {
    @apply flex flex-col;
    min-height: 100vh;

    &__content {
        @apply w-full flex flex-wrap flex-grow mx-auto gap-8;
        @extend .container;

        @screen lg {
            @apply flex-nowrap;
        }

        @screen xl {
            @apply py-8;
        }

        .elementor {
            @apply w-full;
        }
    }
}

.elementor-template-full-width {
    .site__content {
        @apply py-0;

        .elementor,
        .elementor-edit-area {
            @apply flex-grow;
        }
    }
}

.content {
    &__primary {
        @apply flex-grow w-full;
    }

    &__secondary {
        @apply flex-grow mt-8;

        @screen lg {
            @apply flex-none px-0 mt-0;
            width: 15%;
            min-width: 256px;
        }
    }

    &__footer {
        @apply py-8;
    }
}

.sidebar_left {
    .content__primary {
        @screen lg {
            @apply order-2;
        }
    }
    .content__secondary {
        @screen lg {
            @apply order-1;
        }
    }
}


.sidebar_right {
    .content__primary {
        @screen lg {
            @apply order-1;
        }
    }
    .content__secondary {
        @screen lg {
            @apply order-3;
        }
    }
}


body {
    &.sidebar-left {

    }

    &.sidebar-right {

    }

    &.sidebar-none {

    }
}
