//===================
// WordPress 样式
//===================

.wp-post-image:not(.object-cover) {
    @apply h-auto align-middle max-w-full;
}

// 媒体对齐
.alignnone {
    @apply mx-0 max-w-full;
}

.aligncenter {
    @apply block mx-auto my-4;
}

.alignleft,
.alignright {
    @apply mb-4;
}

.post-categories {
    @apply flex;
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    //@apply rounded;
}

.wp-caption {
    @apply p-1 max-w-full;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    @apply leading-loose italic text-xs text-gray-700;
}

.search-form {
    @apply flex;

    label {
        @apply flex-grow;
    }

    [type=search] {
        @apply w-full;
        outline-offset: 0;

        &,
        &:hover,
        &:focus,
        &:active {
            @apply rounded-tr-none rounded-br-none;
        }
    }

    [type="submit"] {
        @include button-bg($primary, $primary, $primary);
        @apply px-4 whitespace-nowrap cursor-pointer text-white;
        border-radius: 0 3px 3px 0;
    }
}

@screnn lg {
    .alignleft {
        @apply float-left mr-4;
    }

    .alignright {
        @apply float-right ml-4;
    }
}

// 图片说明
.wp-caption {
    @appy block mb-4;
    transition: border .2s ease-in-out;
}

.wp-caption-text {
    @apply relative text-white;
    padding: 6px 10px;
    margin-top: -34px;
    background-image: linear-gradient(transparent 0, #000 300%);
}

// 屏幕阅读器
.screen-reader-text {
    @apply hidden;
}

// 默认相册样式
.gallery {
    @apply flex flex-wrap -mx-2;

    .gallery-item {
        @apply px-2 flex-none;
        .gallery-icon {
            @apply h-full;
        }

        .wp-caption-text {
            margin-top: -34px;
        }
    }

    &-columns-1{
        .gallery-item {
            @apply w-full;
        }
    }

    &-columns-2 {
        .gallery-item {
            @apply w-1/2;
        }
    }

    &-columns-3 {
        .gallery-item {
            @apply w-1/3;
        }
    }

    &-columns-4 {
        .gallery-item {
            @apply w-1/4;
        }
    }

    &-columns-5 {
        .gallery-item {
            @apply w-1/5;
        }
    }
}

ul.wp-block-gallery {
    margin-left: 0 !important;
}


#nav-above {
    @apply px-6 hidden;
}

.paged #nav-above {
    @apply block;
}

.nav-links {
    @apply mb-8;
}

.nav-previous,
.previous-image {

    &:before{
        @apply mr-2;
        font-family: icomoon, sans-serif;
        content: $icon-arrow-left;
    }
}

.nav-next,
.next-image {
    @apply text-right;
    &:after{
        @apply ml-2;
        font-family: icomoon, sans-serif;
        content: $icon-arrow-right;
    }
}

.nav-single + .comments-area,
#comment-nav-above {
    @apply my-16;
}

ul.blocks-gallery-grid {
    @apply ml-0;
}

.wp-block-quote {
    @apply pl-4 py-2 mb-4 border-l-4 bg-gray-200;
    border-color: var(--wprs-primary-color);

    p {
        &:last-child {
            @apply mb-0;
        }
    }
}

.wp-block-code {
    @apply bg-gray-100 border border-gray-200 p-4 rounded-sm;
}

.pagination {
    @apply flex;
    li {
        @apply block leading-none border border-gray-200 mr-2;
        &.active {
            background-color: var(--wprs-primary-color);
            border-color: var(--wprs-primary-color);
            a {
                @apply text-white;
            }
        }

        a {
            @apply block px-3 py-2 text-gray-700;
        }
    }
}


.wp-calendar-nav,
#wp-calendar {
    @apply m-0 w-full;
    font-size: 13px;
    line-height: 1.846153846;
    color: #686868;
}

#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
    @apply text-left;
}

.wp-calendar-nav {
    @apply table;
    span {
        @apply table-cell;
    }
}

.wp-calendar-nav-next,
#wp-calendar #next {
    @apply text-right pr-6;
}
