ul.wpuf-form {
    @apply list-none ml-0;
    li {
        .wpuf-fields .wpuf-name-field-wrap {
            margin-bottom: 0 !important;
        }

        .wp-editor-wrap {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        }
    }
}

.typo ul.wpuf-column-fields,
ul.wpuf-column-fields{
    @apply list-none ml-0 mb-0;

    .wpuf-el{
        @apply mb-0;
    }
}

@screen md{
    .form-label-right,
    .form-label-left{
        .wpuf-el{
            @apply flex;

            .wpuf-label{
                min-width: 120px;
                @apply mr-4 mb-0;
            }

            .wpuf-fields{
                @apply flex-1;
            }
        }
    }

    .form-label-right{
        .wpuf-el{
            .wpuf-label{
                @apply order-2 text-right;
            }
        }
    }
}

.form-label-hidden{
    .wpuf-label{
        @apply hidden;
    }
}

.has-columns-2{
    .wpuf-column{
        @screen md{
            @apply grid grid-cols-2 gap-x-4;
        }
    }
}

.has-columns-3{
    .wpuf-column{
        @screen md{
            @apply grid grid-cols-3 gap-x-4;
        }
    }
}

.wpuf-name-field-wrap{
    @screen md{
        @apply grid grid-cols-2 gap-x-4;
    }

    &.format-first-middle-last{
        @screen md{
            @apply grid-cols-3;
        }
    }
}

.wpuf-name-field-middle-name,
.wpuf-name-field-last-name,
.wpuf-name-field-first-name{
    @apply relative;
}

.wpuf-form-sub-label{
    @apply absolute text-sm text-gray-600;
    right: 10px;
    top: 7px;
}

.wpuf-error-msg{
    @apply text-sm text-red-800 mt-2;
}

.wpuf-success,
.wpuf-errors,
.wpuf-info{
    @apply border p-4 mt-2 rounded leading-none;
}

.wpuf-success{
    @apply border-green-200 bg-green-100 text-green-800;
}

.wpuf-errors{
    @apply border-red-200 bg-red-100 text-red-800;
}

.wpuf-info{
    @apply border-yellow-200 bg-yellow-50 text-yellow-800;
}

.wpuf-fields {
    input,
    textarea {
        @apply w-full text-sm leading-normal;
    }

    input[type=checkbox],
    input[type=radio] {
        @apply w-auto;
    }

    .wpuf-checkbox-block {
        @apply block;
    }

    .wpuf-checkbox-inline{
        @apply mr-4;
    }

    .wp-editor-container {
        border: 0 !important;
    }

    .mce-toolbar-grp {
        border-bottom: 0;
    }

    .mce-edit-area {
        border-right: 1px solid #eee !important;
    }

    .mce-top-part {
        border-bottom: 1px solid #eee;

        &::before {
            content: none;
        }
    }
}

.wpuf-label {
    @apply mb-1;
    label {
        @apply text-base font-medium;
    }
}

.wpuf-el {
    @apply mb-4;
}

.wpuf-submit{
    .wpuf-label{
        @apply hidden;
    }
}

.wpuf-help{
    @apply text-sm text-gray-600;
}

.wpuf-submit-button,
.weforms_submit_btn {
    @include button-base();
    @include button-bg($primary, darken($primary, 3%), darken($primary, 6%));
    @include button-border(darken($primary, 3%), darken($primary, 6%), darken($primary, 9%));
    color: #fff;
}
