//
// Accordion 样式
//

@keyframes rotate-90 {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  100% {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.c-accordion {
  width: auto;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.c-accordion__list {
  border: 1px solid $border-color;
  margin-bottom: -1px;
}

.c-accordion__header {
  padding: $spacer-md;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: -1px;
  color: $text-color;
  .fa-toggle {
    transform: rotate(0deg);
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .fa-toggle {
      transform: rotate(90deg);
      z-index: 10;
    }
  }

  &.active,
  &:hover {
    background-color: $background;
  }
}

.c-accordion__icon {
  display: inline-block;
  margin-right: 10px;
}

.c-accordion__content {
  display: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.7;
  border-top: 1px solid transparent;
  color: $text-light;

  p,
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.active {
    border-top-color: $border-color;
    display: block;
  }
}

