.c-divider {
  line-height: 0;
  font-size: 0;
  max-width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
}

.c-divider__separator {
  display: inline-block;
}

.c-divider--shadowed {
  height: 5px;
  display: block;
  min-height: 1px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  clear: both;
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at 50% -50%, rgba(15, 15, 15, .12) 0px, rgba(0, 0, 0, 0) 80%);
  &:after {
    background: radial-gradient(ellipse at 50% -50%, rgba(15, 15, 15, .12) 0px, rgba(0, 0, 0, 0) 80%);
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}