/*-----------------------------------------
 布局-左右排列
-------------------------------------------*/

.rs-feature--style1 {
  .elementor-widget-container {
    z-index: 3;

    &:before {
      content: "";
      position: absolute;
      background: #fc5508;
      height: 0%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      transition: .45s cubic-bezier(.58, 1.45, .255, 0.35);
    }
  }

  .elementor-icon-box-wrapper {
    position: relative;
    z-index: 2;
  }

  .elementor-icon-box-button{
    display: inline-block;
    margin-top: 16px;
    font-weight: 600;
    color: #fc5508;
  }

  .elementor-icon-box-title {
    border-bottom: 1px solid #ccc;

    span {
      &:after {
        content: '';
        background: #fc5508 none repeat scroll 0 0;
        display: block;
        height: 1px;
        position: relative;
        bottom: 0;
        width: 64px;
        margin-bottom: -1px;
      }
    }
  }

  &:hover {
    .elementor-widget-container:before {
      height: calc(100% - 24px);
    }

    .elementor-icon{
      svg{
        fill: #fff !important;
      }
    }

    .elementor-icon-box-title,
    .elementor-icon-box-description {
      color: #fff !important;
    }

    .elementor-icon-box-title {
      border-bottom-color: #fff;

      span {
        &:after {
          background: #333 none repeat scroll 0 0;
        }
      }
    }

    .elementor-icon-box-button{
      color: #fff;
    }
  }
}

/*--------------
	Styles 2
----------------*/
.rs-feature--style2 {
  display: block;
  text-align: center;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.07);
  border-radius: 5px;

  .elementor-icon-box-wrapper {
    position: relative;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, .16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;

    &:before {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 0;
      content: " ";
      width: 120px;
      height: 120px;
      background: #f5f5f5;
      border-bottom-left-radius: 136px;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }

    &:hover {
      &:before {
        background: #d21e2b;
      }

      svg {
        fill: #fff;
      }
    }
  }

  .elementor-icon-box-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
  }

  .elementor-icon-box-description {
    padding-right: 50px;

    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 3px;
      background: #d21e2b;
      border-radius: 25%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}


.rs-feature--style3 {

}

.rs-feature--style4 {

}

.rs-feature--style5 {

}