.c-heading {

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__icon {

  }

  &__subtitle {
    font-size: 16px;
    color: $text-lighter;
    margin: 0;
    line-height: normal;
  }

  &__text {

  }

  &__more {

  }

  &__highlight{
    @apply inline-block;
  }

  &--style1{
  }

  &--style2{
    border-bottom: 2px solid $primary;
    .c-heading__title{
      display: inline-block;
      background: $primary;
      color: #fff;
      font-size: 16px;
      padding: $spacer-sm $spacer-md;
      margin-bottom: -2px;
    }
    .c-heading__subtitle{
      margin-left: $spacer-sm;
    }
    .c-heading__more{
      float: right;
      margin-top: 6px;
    }
  }

  &--style3{
    padding: $spacer-sm;
    .c-heading__title{
      font-size: 18px;
      font-weight: 500;
    }
  }

  &--style4{
    border-bottom: 2px solid $border-color;
    .c-heading__title{
      display: inline-block;
      color: $primary;
      border-bottom: 2px solid $primary;
      font-size: 16px;
      padding: $spacer-sm 0;
      margin-bottom: -2px;
    }
    .c-heading__subtitle{
      margin-left: $spacer-sm;
    }
    .c-heading__more{
      float: right;
      margin-top: 6px;
    }
  }

  &--style5{

  }

}