//
// 基本内容样式
//

.rs-image-box--style2 {
  .elementor-image-box-wrapper {
    @apply overflow-hidden;
    line-height: 0;
  }

  .elementor-image-box-img {
    @apply aspect-w-4 aspect-h-3;
    margin-bottom: 0 !important;
    a{
      &:before{
        @apply block w-full h-full absolute top-0 left-0;
        z-index: 1;
        content: '';
        background: rgba(0,0,0, .2);
      }
    }
    img {
      @apply object-cover;
    }
  }

  .elementor-image-box-content {
    @apply absolute top-0 left-0 h-full flex items-center;
    padding: 0 15%;
  }

  .elementor-image-box-title{
    @apply relative z-10;
    &:after{
      @apply block bg-white;
      content: '';
      width: 60px;
      height: 1px;
    }
  }
}