.c-member{

  &__photo{

  }

  &__bio{
    margin-top: $spacer-md;
  }

  &__name{

  }

  &__title{
    color: $text-lighter;
  }

  &__summary{
    color: $text-light;
    p{
      margin-bottom: 0;
    }
  }

}

.c-members--radius{

  .c-member{

    &__photo{
      img{
        border-radius: 50%;
      }
    }

    &__bio{
      text-align: center;
    }

  }
}