.c-ticker {
  height: 36px;
  align-items: center;
  border: 1px solid $border-color;

  &__badge {
    white-space: nowrap;
    float: left;
    background: $primary;
    color: #fff;
    line-height: 36px;
    padding:  0 $spacer-sm + $spacer-xs;
    margin: -1px $spacer-sm -1px -1px;
  }

  &__slider {
    width: 100%;
  }

  &__content {
    line-height: 36px;
  }

  .slick-prev,
  .slick-next{
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  .slick-prev{
    left: auto;
    right: 35px;
  }

  .slick-next{
    right: 10px;
  }

}