:root {
  --primary-color: #c90815;
  --alt-color: #071ba6;

  --text-color: #262224;
  --light-text-color: #4e4749;
  --lighter-text-color: #776c6e;
  --lightest-text-color: #978A8C;

  --gray-color: #c7b7b8;
  --light-gray-color: #e2d8d8;
  --lighter-gray-color: #efe8e8;
  --lightest-gray-color: #fcfafa;
  --white: #fff;

  --global-content-width: 1248px;
  --global-content-edge-padding: 24px;
}