.kadence-typography-control{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    .kadence-typography-controls{
        margin-top: 0 !important;
    }

    .customize-control-title{
        white-space: nowrap;
    }
}


.kadence-palette-header .components-button-group .components-button.is-tertiary{
    padding: 0 8px !important;
}

#customize-theme-controls .kadence-control-field{
    margin-top: 8px;
    margin-bottom: 8px;
}


#customize-theme-controls .customize-control{
    margin-bottom: 8px;
    padding-top: 8px;
}
