@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import "base/functions";
@import "base/mixins";
@import "variables";

@import "components/reset";
@import "components/typo";
@import "components/button";
@import "components/input";
@import "components/wordpress";
@import "components/elementor";
@import "components/site";
@import "components/header";
@import "components/menu";
@import "components/menu-toggle";
@import "components/footer";
@import "components/entry";
@import "components/block";
@import "components/dropdown";
@import "components/widget";
@import "components/empty";
@import "components/wpuf";
@import "components/fonts";
// @import "vars";

$primary: #c90815;
$primary-text: #262224;

:root{
  --menu-highlight-text-color: var(--primary-color);
  --white: #fff;
}

// 桌面端
@include above(992px) {
  :root {
    --menu-bg-color: transparent;
    --menu-text-color: var(--text-color);
    --header-bg-color: var(--white);
  }

  .sm-menu ul{
    --menu-bg-color: var(--white);
  }

  .sub-arrow {
    display: none;
  }

  .sm-menu a.has-submenu {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// 移动端
@include below(992px) {
  :root {
    --header-bg-color: var(--white);
    --menu-bg-color: var(--text-color);
    --menu-text-color: var(--white);
    --menu-border-color: #222;

    --global-content-edge-padding: 24px;
  }
}

.menu-toggle {
  --menu-text-color: var(--text-color);
}

.woocommerce-product-search {
  @extend .search-form;
}

.clearfix {
  @include clearfix;
}

.post-type-archive .site__shop,
.tax-product_cat .site__shop,
.tax-product_tag .site__shop,
.single-product .archive-header .woocommerce-breadcrumb,
.related.products,
.upsells.products {
  @extend .container !optional;
}

.dropdown-nav-special-toggle {
  @screen lg {
    display: none;
  }
}


.item-is-fixed {
  top: 0;
}

.site__banner {
  min-height: 200px;
}

@screen lg {
  .f-mean-nav {
    @apply hidden;
  }
}

.splide__slide {
  max-width: 100%;
}

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.widget_categories ul {
  border: 0;
}

.widget_categories ul li {
  & > a {
    border-left: 0;
    border-right: 0;
    padding: 16px 16px 16px 35px;
    font-size: 18px;

    .icon{
      display: none;
    }

    &:after {
      content: "\e9a2";
      right: auto;
      left: 15px;
    }
  }

  .children{
    a{
      padding-left: 56px;
      &:after{
        content: '\e9c1';
        left: 36px;
      }
    }
  }
}

.widget_categories__title{
  background: var(--primary-color);
  color: var(--white);
  padding: 16px 0;
  text-align: center;
  font-size: 22px;
}

.widget_categories ul li.current-cat a,
.widget_categories ul li.current_page_item a {
  border-left: 3px solid var(--primary-color);
}

.widget_categories ul li.current-cat > a,
.widget_categories ul li.current_page_item > a{
  color: var(--primary-color);

  &:after{
    color: var(--primary-color);
  }
}