$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

@import "../fonts/icomoon/style.scss";

@import "./icons";
@font-face {
    font-display: block;
    font-family: rsicon;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/iconfont.eot?u64pwc);
    src: url(../fonts/iconfont.eot?u64pwc#iefix) format("embedded-opentype"), url(../fonts/iconfont.ttf?u64pwc) format("truetype"), url(../fonts/iconfont.woff?u64pwc) format("woff"), url(../fonts/iconfont.svg?u64pwc#icomoon) format("svg")
}


$ws_icon-list: "grid-fill" "\e800",
"layout-grid-fill" "\e801";

@each $name, $glyph in $ws_icon-list {
    .rsicon-#{$name}:before {
        display: inline-block;
        font-style: normal;
        font-family: rsicon, sans-serif;
        content: $glyph;
    }
}


